@import "./theme.css";
@import "./tailwind.css";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, .font-outfit {
    font-family: 'Outfit', sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
